@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.page-layout {
  @include page-gradient-bg;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: $container-padding;
  @include safe-area-inline($container-padding);
}
